/* :root {
  display: flex;
  justify-content: center;
} */

body {
  background: hsl(47, 88%, 63%);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Figtree, sans-serif;
}

.card {
  margin: 2rem auto;
  border: 1px solid hsl(0, 0%, 7%);
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  box-shadow: 8px 8px hsl(0, 0%, 7%);
  transition: all ease-in-out;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  height: 560px;
}

.card:hover {
  box-shadow: 15px 15px hsl(0, 0%, 7%);
}

.card-title {
  background-color: hsl(47, 88%, 63%);
  width: 40%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.description {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: 800;
  font-size: 1.2rem;
  color: hsl(0, 0%, 7%);
}

.card-actions h2 {
  margin-top: 0.8rem;
  font-size: 15px;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
}

.card-body {
  padding: var(--padding-card, 0.4rem);
  /* padding: 0; */
  gap: 0;
}

.card-img-top {
  border-radius: 15px;
}
.card-actions img {
  width: 40px;
}

.card-info {
  color: hsl(0, 0%, 50%);
  font-size: 16px;
  opacity: 0.8;
}

.data {
  font-size: 15px;
  color: hsl(0, 0%, 7%);
}

@media screen and (max-width: 760) {
  .card {
    height: 501px;
  }
}
